[submodule "bin"]
	path = bin
	url = git@github.com:genomictools/bin.git
	branch = test-gene-burden
[submodule "modules"]
	path = modules
	url = git@github.com:genomictools/modules.git
	branch = test-gene-burden
[submodule "subworkflows"]
	path = subworkflows
	url = git@github.com:genomictools/subworkflows.git
	branch = test-gene-burden
[submodule "conf"]
	path = conf
	url = git@github.com:genomictools/conf.git
